@tailwind base;
@tailwind components;
@tailwind utilities;
@source "../views";

div.dt-container select.dt-input {
    padding: 4px 20px 4px 10px !important;
}

#barangTable tbody tr td:last-child {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

/* Sidebar Mode Default (Desktop) */
.sidebar-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 256px;
    height: 100vh;
    background-color: #1a1a1a;
    color: white;
    transition: transform 0.3s ease-in-out;
}

.listBtn {
    display: none;
}

/* Sidebar Responsif (Mobile: Disembunyikan) */
@media screen and (max-width: 640px) {
    .sidebar-menu {
        transform: translateX(-100%);
    }

    #barangTable tbody tr td:last-child {
        gap: 3rem;
    }

    .listBtn {
        display: flex;
    }

    .sidebar-menu.open {
        transform: translateX(0);
    }

    .sidebar-overlay {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out;
    }

    .sidebar-overlay.show {
        opacity: 1;
        visibility: visible;
    }
}
